<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Alturos.YoloV2TinyVocData" version="1.0.0" targetFramework="net461" />
  <package id="log4net" version="2.0.10" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.Owin" version="4.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Host.HttpListener" version="4.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Hosting" version="4.0.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net461" />
  <package id="Owin" version="1.0" targetFramework="net461" />
  <package id="SimpleInjector" version="4.6.0" targetFramework="net461" />
  <package id="SimpleInjector.Integration.WebApi" version="4.6.0" targetFramework="net461" />
  <package id="Swashbuckle.Core" version="5.6.0" targetFramework="net461" />
  <package id="Topshelf" version="4.2.1" targetFramework="net461" />
</packages>