<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="accessKeyId" value="AKIAZAU7AAYIWS6H2YFY"/>
        <add key="secretAccessKey" value="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"/>
        <add key="bucketName" value="hagtin.project.tugraz"/>
        <add key="extractionFolder" value="packages"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>